---
import "./index.scss";
---

<section class="hero" id="hero">
  <h1 class="hero__title">SOMA CHAIR</h1>
  <div class="hero__images">
    <img src="/assets/hero.png" alt="Chairs" class="image" />
  </div>
  <div class="hero__buttons">
    <button class="button button--primary">Más Información</button>
    <button class="button button--secondary">Comprar</button>
  </div>
  <div class="hero__description">
    <p>Estructural. Único. Orgánico. Natural. Funcional.</p>
  </div>
</section>
