---
import "./index.scss";
import { Image } from "astro:assets";
import heroImage from "../../assets/hero.png";
---

<section class="hero" id="hero">
  <h1 class="hero__title">SOMA CHAIR</h1>
  <Image priority src={heroImage} alt="Chairs" class="w-full h-auto" />
  <div class="hero__buttons">
    <button class="button button--primary">Más Información</button>
    <button class="button button--secondary">Comprar</button>
  </div>
  <div class="hero__description">
    <p>Estructural. Único. Orgánico. Natural. Funcional.</p>
  </div>
</section>
