$primary-color: #f5f1ea;
$secondary-color: #957860;
$tertiary-color: #9c6f4d;

$font-family-primary: "MazzardH", sans-serif;
$font-family-secondary: "MazzardM", sans-serif;
$font-family-tertiary: "MyriadPro", sans-serif;
