/* MazzardH */
@font-face {
  font-family: "MazzardH";
  src: url("/fonts/MazzardH-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazzardH";
  src: url("/fonts/MazzardH-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazzardH";
  src: url("/fonts/MazzardH-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* MazzardM */
@font-face {
  font-family: "MazzardM";
  src: url("/fonts/MazzardM-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazzardM";
  src: url("/fonts/MazzardM-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazzardM";
  src: url("/fonts/MazzardM-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazzardM";
  src: url("/fonts/MazzardM-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Myriad Pro (solo el Regular) */
@font-face {
  font-family: "MyriadPro";
  src: url("/fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
