---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/index.astro";
import Hero from "../components/Hero/index.astro";
import Design from "../components/Design/index.astro";
import Chair from "../components/Chair/index.astro";
import Dimensions from "../components/Dimensions.astro";
import Collections from "../components/Collections.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Serein - Soma Chair">
  <Navbar />
  <main>
    <Hero />
    <Design />
    <Chair />
    <!-- <Dimensions />
    <Collections /> -->
  </main>
  <!-- <Footer /> -->
</Layout>
