@use "../../styles/common";

.dimensions {
  display: grid;
  font-family: common.$font-family-secondary;
  gap: 50px;
  grid-template-columns: 1.5fr 2fr;
  padding: 50px 30px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      color: common.$tertiary-color;
      font-size: 75px;
      font-weight: 700;
    }

    .table-container {
      .dimensions-table {
        border-collapse: collapse;
        color: black;
        font-size: 18px;
        width: 100%;

        th,
        td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 12px 16px;
          text-align: left;
        }

        th {
          background-color: rgba(0, 0, 0, 0.02);
          color: black;
          font-size: 20px;
          font-weight: 600;
        }

        td {
          font-weight: 400;

          &:first-child {
            font-weight: 500;
          }

          &:last-child {
            font-weight: 600;
            text-align: right;
          }
        }

        tbody tr:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
