---
import "./index.scss";
import SearchIcon from "../../assets/search.svg";
import UserIcon from "../../assets/user.svg";
import CartIcon from "../../assets/cart.svg";
---

<nav class="navbar" id="navbar">
  <a href="#">
    <div class="navbar__logo">serein.</div>
  </a>
  <ul class="navbar__menu">
    <li><a href="#" aria-label="Home" role="link">Home</a></li>
    <li>
      <a href="#collection" aria-label="Colección" role="link">Colección</a>
    </li>
    <li><a href="#" aria-label="Nosotros" role="link">Nosotros</a></li>
    <li><a href="#footer" aria-label="Contacto" role="link">Contacto</a></li>
    <li><a href="#" aria-label="Preguntas" role="link">Preguntas</a></li>
  </ul>
  <div class="navbar__actions">
    <a href="#" class="action">
      <SearchIcon width={22} height={22} aria-label="Buscar" role="button" />
    </a>
    <a href="#" class="action">
      <UserIcon width={22} height={22} aria-label="Perfil" role="button" />
    </a>
    <a href="#" class="action">
      <CartIcon width={22} height={22} aria-label="Carrito" role="button" />
    </a>
  </div>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (navbar) {
      navbar.classList.toggle("navbar--scrolled", window.scrollY > 50);
    }
  });
</script>
