---
import { Image } from "astro:assets";
import dimensionsImage from "../../assets/dimensions.png";
---

<section class="py-12 bg-gray-100">
  <h2 class="text-center text-3xl font-bold mb-8">Dimensiones</h2>
  <div
    class="flex flex-col md:flex-row md:justify-center md:space-x-12 items-center"
  >
    <ul class="text-lg">
      <li>Profundidad total: 140 cm</li>
      <li>Altura total: 120 cm</li>
      <li>Altura del asiento: 45 cm</li>
      <li>Profundidad del asiento: 100 cm</li>
      <li>Ancho del asiento: 120 cm</li>
      <li>Ancho del brazo: 12 cm</li>
      <li>Altura del marco: 100 cm</li>
    </ul>
    <Image src={dimensionsImage} alt="Dimensiones" class="w-1/3 mt-8 md:mt-0" />
  </div>
</section>
