---
import CardsIcon from "../../assets/cards.svg";
import MailIcon from "../../assets/mailfooter.svg";
import PhoneIcon from "../../assets/telfooter.svg";
import LocationIcon from "../../assets/ubifooter.svg";
import InstagramIcon from "../../assets/igfooter.svg";
import FacebookIcon from "../../assets/fbfooter.svg";
import "./index.scss";
---

<footer class="footer" id="footer">
  <div class="footer__content">
    <div class="item">
      <div>
        <h3>NAVEGACIÓN</h3>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#collection">Colección</a>
          </li>
          <li></li>
          <a href="#">Nosotros</a>
          <li>
            <a href="#footer">Contacto</a>
          </li>
          <li>
            <a href="#">Preguntas</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="item">
      <div>
        <h3>MEDIOS DE PAGO</h3>
        <CardsIcon width={120} height={120} />
      </div>
    </div>
    <div class="item">
      <div>
        <h3>CONTACTANOS</h3>
        <div class="contact-item">
          <PhoneIcon width={30} height={30} />
          <span>
            <a href="tel:+5491124685440">11 2468-5440</a>
          </span>
        </div>
        <div class="contact-item">
          <MailIcon width={30} height={30} />
          <span>
            <a href="mailto:serein@gmail.com">serein@gmail.com</a>
          </span>
        </div>
        <div class="contact-item">
          <LocationIcon width={30} height={30} />
          <span>
            <a href="https://maps.app.goo.gl/W7sdnbDRitay22VP7"
              >Turdera, Zona Sur.</a
            >
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <h3>REDES SOCIALES</h3>
        <div class="social-media">
          <a href="https://www.instagram.com/">
            <InstagramIcon width={50} height={50} />
          </a>
          <a href="https://www.facebook.com/">
            <FacebookIcon width={50} height={50} />
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <h3>POLÍTICAS DE DEVOLUCIÓN</h3>
        <p>
          <strong>1. Plazo y condiciones</strong>
          <br /> Se aceptan devoluciones o cambios dentro de los 15 días desde la
          compra, con el producto sin uso, en su embalaje original y con etiquetas.
          Productos personalizados no tienen cambio, salvo defecto de fábrica. <br
          />
          <strong>2. Cómo solicitarlo</strong>
          <br /> Contactanos dentro de los 15 días con el comprobante de compra.
          Los gastos de envío corren por cuenta del cliente, excepto en caso de defecto.
          <br />
          <strong>3. Revisión y aprobación</strong>
          <br />
          Los productos devueltos serán revisados. Nos reservamos el derecho a rechazar
          devoluciones si no cumplen las condiciones. <br />
          <strong>4. Reembolsos</strong>
          <br /> Si se aprueba la devolución, el reintegro se hará al mismo medio
          de pago en un plazo de hasta 15 días. <br />
          <strong>5. Productos defectuosos</strong>
          <br /> En caso de defectos de fábrica, cubrimos el envío y ofrecemos reemplazo
          o reembolso sin costo.
          <br />
          <strong>6. Garantía</strong>
          <br /> Nuestros productos tienen 6 meses de garantía por defectos de fabricación.
          Es necesario presentar comprobante y seguir las instrucciones de cuidado.
          <br /><br /> Esta política puede modificarse sin previo aviso.
        </p>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p>
      Copyright Muebles a medida en Argentina - Diseño y fabricación
      personalizada - 2025. Todos los derechos reservados. Defensa de las y los
      consumidores. Para reclamos <a href="/">ingresá acá</a>. / <a href="/"
        >Botón de arrepentimiento</a
      >
    </p>
  </div>
</footer>
