---
import "./index.scss";
import HighlightImage from "./HighlightImage/index.tsx";
---

<section class="design" id="design">
  <div class="content">
    <h2 class="content__title">Diseño</h2>
    <p class="content__description">
      Fabricado artesanalmente con la máxima atención al detalle, su diseño
      orgánico presenta una suave curva en el respaldo, con asiento erguido y un
      amplio siento tipo banco.
    </p>
    <p class="content__description">
      Mecanismo giratorio de 360º. Sofás a juego disponibles en dos tamaños.
    </p>
  </div>
  <HighlightImage client:load />
</section>
